body {
  background: #fff9e0;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 520px;
  margin:auto;
  margin-top: auto;
  justify-content: center;

}

.container {
  background: #f8d590;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 5 15px 40px rgba(0, 0, 0, 0.05);
}

h3 {
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  color: #613400;
}

label {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
  color: #613400;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #c37c01;
  padding: 12px;
  transition: all 0.25s ease;
  box-shadow: none;
}

.form-control:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
}

.text-danger small {
  font-size: 0.85rem;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  font-weight: 500;
  border: none;
  background: #dca633;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: #64bf23;
  transform: translateY(-2px);
}

.btn-primary:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}

input[type="file"] {
  padding: 10px;
  border-radius: 10px;
}

.mb-3 {
  margin-bottom: 20px !important;
}

.btn-cancel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ef4444;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #ef4444;
  border-radius: 12px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #ef4444;
  color: white;
  transform: translateY(-2px);
}

input {
    width: 500px;
}